<a href="https://colab.research.google.com/github/Angelaliliam1989/Mujeresdigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

---
Para manejar un codigo limpio en Phyton:
Podemos seguir las siguientes recomendaciones:

1. Manejar siempre minuscula
2. Se le puede añadir numeros
3. Aparecera error si no están seguidos la declaración de la variable con el numero asignado, es decir. Ejemplo: ana1 (correcto) ana 1 (incorrecto-error).

En python hay varios tipos de datos compuestos y están disponibles por defecto en los interpretes.
**¿De que tipos?**
1. Númericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar valores

**Diferencia entre constantes y variables**
En mátematicas llamamos constante a una magnitud que no cambia con el paso del tiempo.

Ejemplo 1: Contabilidad: Gastos fijos_ Muebles de oficina

Ejemplo 2:  6

Por otro lado, el concepto de variable, como la cantidad que es susceptible a tomar distintos valores númericos.

**Ejemplo**:

In [ ]:
x=5
print(x)
a=76
print(a)

5
76

**Tipos de datos**

---

**Enteros**:

*   Son los números que no tienen decimales
*   Pueden ser positivos y negativos

In [ ]:
a=int(4.5)
print(a, type(a))

4 <class 'int'>

El comando int es para hacer alusión a numeros enteros.
A parte el comando float, permite valores con decimales.

In [ ]:
b=float(8.23887) 
print(b,type(b))

8.23887 <class 'float'>

**Tipo cadena**

---
Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de diferentes caracteres (Numericos, Alfabeticos, Especiales #$+*%).
Tener en cuenta, las cadeas admiten operadores como la suma y la resta. (variable string)

In [ ]:

Val2="hola mundo!"
print(Val2)

Val1="Luisa"
print(Val1)

hola mundo!
Luisa

In [ ]:
n="Aprender"
z="Phyton"
w="Aprender Phyton"
print(w)

q="3"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Phyton
1

**Tipo Booleano**

---
Este tipo de variable solo tendra un valor de Verdadero o Falso.

**Nota:**
Son valores muy usados en condiciones y bucles

In [ ]:
lola=True
print("el valor es verdadero:",lola,",el cual es de tipo",type(lola))

el valor es verdadero: True ,el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionario

**Tipo de conjuntos**
Son una colección de datos sin elementos que repiten:

In [ ]:
fru='pera', 'manana', 'naranja'
color= 'morado','blanco','azul'
print(fru,color)

('pera', 'manana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo listas**

---
Son listas las que almacenan vectores.
Las listas siempre empiezan a nombrarse desde el elemento cero(0). Apartir de allí empieza el conteo.

Ejemplo de listas en Python:

In [ ]:
ines=['5','uva','lila','perro','celular','micro','botella','tetero']
print(ines)
fe=ines[0:2]
print(fe)

['5', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero']
['5', 'uva']

**Tipo Tuplas**

---
Es una lista que no se puede modificar despues de la creación de esta:
Tuplas anidadas: Agupación(Tuplas).

In [ ]:
tupla=23,28, 'hello'
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**
---
Define los datos uno a uno entre un campo(ID-Identificador-Clave) y un valor:

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "cedula":"1067989567",
    "estado_civil":"Viuda",
    "Lugar_nacimiento":"Neiva",
"fecha_nacimiento":"24/03/1980",
}
print("ID del diccionario",datos_b.keys())
print("ID del diccionario",datos_b.values())
print("ID del diccionario",datos_b.items())

print("fecha de nacimiento de Diana:", datos_b['fecha_nacimiento'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'estado_civil', 'Lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '1067989567', 'Viuda', 'Neiva', '24/03/1980'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'Perea'), ('cedula', '1067989567'), ('estado_civil', 'Viuda'), ('Lugar_nacimiento', 'Neiva'), ('fecha_nacimiento', '24/03/1980')])
fecha de nacimiento de Diana: 24/03/1980

**Ejemplo práctico(caracteristicas de los carros)**

In [ ]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='Renault'
carros_0['precio']=60

carros_1={}
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='Chevrolet'
carros_1['precio']=37
print(carros_0)
print(carros_1)

compra0=carros_0['precio']
compra1=carros_1['precio']
compratotal=compra0+compra1

print("la compra total fue de:",compratotal)
print("la compra total fue de:"+str(compratotal))

{'tam': 'grande', 'color': 'negro', 'marca': 'Renault', 'precio': 60}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'Chevrolet', 'precio': 37}
la compra total fue de: 97
la compra total fue de:97

**TAREA CLASE 1**

---
2 ejemplos por cada ejercicio.

**Enteros:**

In [10]:
r=int(-5)
print(r)

-5

In [4]:
y=int(7.7)
print(y,type(y))

7 <class 'int'>

In [11]:
u=float(-6.7)
print(u,type(u))

b=float(7.6769)
print(b,type(b))

-6.7 <class 'float'>
7.6769 <class 'float'>

**Tipo cadena:**

In [14]:
d="Camila"
print(d)

clase="Voy a clase de español"
print(clase)

Camila
Voy a clase de español

In [19]:
m="5.4"
t="2"
a=float(m)
b=int(t)
print(a-b)

3.4000000000000004

**Tipo Booleano**

In [21]:
caminar=True
print("el valor es verdadero:",caminar,",el cual es de tipo",type(caminar))

el valor es verdadero: True ,el cual es de tipo <class 'bool'>

In [22]:
g=False
print("este valor es:",g,"el cual es de tipo", type(g) )

este valor es: False el cual es de tipo <class 'bool'>

**Tipo listas**

---

In [24]:
frutas=['fresa','uva','manzana']
print(frutas)
fr=frutas[0:2]
print(fr)

['fresa', 'uva', 'manzana']
['fresa', 'uva']

In [29]:
muebles=['mesa','cama','closet','sofa']
print(muebles)
th=muebles[0:3]
print(th)

['mesa', 'cama', 'closet', 'sofa']
['mesa', 'cama', 'closet']

**Tipo Tuplas**

In [32]:
num=3,28,'5'
print(num)
a=num,('casa')
print(a)

(3, 28, '5')
((3, 28, '5'), 'casa')

**Diccionarios**

In [39]:
ropa={}
ropa["interior"]='boxer','panty'
ropa["exterior"]='saco','pantalón'
print(ropa)
vestir=ropa["interior"]+ropa["exterior"]
print(vestir)

{'interior': ('boxer', 'panty'), 'exterior': ('saco', 'pantalón')}
('boxer', 'panty', 'saco', 'pantalón')