<a href="https://colab.research.google.com/github/Angelaliliam1989/Mujeresdigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

---
Para manejar un codigo limpio en Phyton:
Podemos seguir las siguientes recomendaciones:

1. Manejar siempre minuscula
2. Se le puede añadir numeros
3. Aparecera error si no están seguidos la declaración de la variable con el numero asignado, es decir. Ejemplo: ana1 (correcto) ana 1 (incorrecto-error).

En python hay varios tipos de datos compuestos y estan disponibles por defecto en los interpretes.
**¿De que tipos?**
1. Numericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar valores

**Diferencia entre constantes y variables**
En matematicas llamamos constante a una magitud que no cambia con el paso del tiempo.
Ejemplo: Contabilidad: Gastos fijos_ Muebles de oficina
Ejemplo 2: 6

Por otro lado, el cocepto de variable, como la cantidad que es susceptible a tomar distintos valores numericos.
**Ejemplo**:

In [ ]:
x=5
print(x)
a=76
print(a)

5
76

**Tipos de datos**

---

**Enteros**

*   Son los numeros que no tienen decimales
*   Pueden ser positivos y negativos

In [ ]:
a=int(4.5)
print(a, type(a))

4 <class 'int'>

El comando int es para hacer alusión a numeros enteros.
A parte el comando float, permite valores con decimales.

In [ ]:
b=float(8.23) 
print(b,type(b))

8.23 <class 'float'>

**Tipo cadena**

---
Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de diferentes caracteres (Numericos, Alfabeticos, Especiales #$+*%).
Tener en cuenta, las cadeas admiten operadores como la suma y la resta. (variable string)

In [ ]:

Val2="hola mundo"
print(Val2)

Val1="Luisa"
print(Val1)

hola mundo
Luisa

In [ ]:
n="Aprender"
z="Phyton"
w="Aprender Phyton"
print(w)

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Phyton
3

**Tipo Booleano**

---
Este tipo de variable solo tendra un valor de Verdadero o Falso.
**Nota:**
Son valores muy usados en condiciones y bucles

In [ ]:
lola=True
print("el valor es verdadero:",lola,",el cual es de tipo",type(lola))

el valor es verdadero: True ,el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionario

**Tipo de conjuntos**
Son una colección de datos sin elementos que repiten:

In [ ]:
fru='pera', 'manana', 'naranja'
print(fru)

SyntaxError: ignored